In [5]:
n= int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if n<= 0:
   print("Please enter a positive integer")
elif n== 1:
   print("Fibonacci sequence upto",n,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [7]:
b= list(input("Input a binary number: "))
value = 0

for i in range(len(b)):
	digit = b.pop()
	if digit == '1':
		value = value + pow(2, i)
print("The decimal value of the number is", value)

Input a binary number: 100
The decimal value of the number is 4

In [10]:
a=int(input("enter a number"))
for i in range(1, 11):
   print(a, 'x', i, '=', a*i)

enter a number2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [0]:
def create_marks(n):
    L=[]
    for i in range(n):
      ele = int(input("enter element"))
      L.append(ele)
    return L

In [12]:
x=create_marks(5)
print(x)

enter element20
enter element50
enter element30
enter element60
enter element70
[20, 50, 30, 60, 70]

In [0]:
def create_name(n):
    N=[]
    for i in range(n):
      el = input("enter element")
      N.append(el)
    return N

In [14]:
y=create_name(5)
print(y)

enter elementanu
enter elementshree
enter elementneetu
enter elementpriya
enter elementmanu
['anu', 'shree', 'neetu', 'priya', 'manu']

In [15]:
print(x)
z=filter(lambda i : i<40,x)
print(list(z))

[20, 50, 30, 60, 70]
[20, 30]

In [27]:

L=[i for i in range(-1,5)]
    print(type(L)

IndentationError: ignored

In [28]:
L=[ k for k in range(5) ]
print(type(L))
print(L)

<class 'list'>
[0, 1, 2, 3, 4]

In [29]:
print(sum(L))

10

In [30]:
print(avg(L))

NameError: ignored